.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 2rem;
}

.headerMain {
  background-color: rgb(201, 160, 220);
}

.header {
  display: flex;
  justify-content: space-between;

  img {
    max-width: 150px;
    width: 100%;
    height: auto;
  }

  nav {
    margin-right: 2rem;
    display: flex;

    ol {
      display: flex;
      gap: 4rem;
      font-size: 20px;
      margin-top: 1.5rem;
      margin-right: 4rem;

      li {
        list-style: none;
        transition: transform 0.3s ease;
        max-height: 2rem;
        a {
          text-decoration: none;
          color: white;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.auth {
  display: flex;
  margin-left: 2rem;
  gap: 1rem;
  font-size: 20px;
  margin-top: 1.5rem;
  a {
    max-height: 2rem;
    text-decoration: none;
    color: black;
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  button {
    min-height: 2.5rem;
    min-width: 8rem;
    border-radius: 10px;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 776px) {
  .header {
    justify-content: space-around;

    img {
      max-width: 100px;
    }

    nav {
      margin: 0;

      ol {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin: 0;

        li {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .auth {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}

@media (max-width: 1008px) {
  .auth {
    display: none;
  }
}
