.footer {
  background-color: rgb(201, 160, 220);
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 6rem;

  .footerContent {
    margin-bottom: 20px;
    font-size: 18px;

    h2 {
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin: 5px 0;
      }
    }
  }

  .footerBottom {
    font-size: 14px;
  }
}
